@import "compass";
@import "compass/css3/user-interface";
@import "mixins";

.aui {

    /* ---------- All Layouts ---------- */

    .portlet-column-content.empty,
    .controls-hidden .portlet-column-content.empty {
        padding: 0;
    }

    .controls-visible .portlet-column-content.empty {
        padding: 50px;
    }

    /* ---------- System Page ---------- */

    .rp-columns-system-page {

        .portlet-column {}

        .rp-sidebar {
            display: none;
        }

    }

    .rp-admin.controls-visible {
        .rp-columns-system-page {

            @include pie-clearfix();

            .portlet-column {
                width: 65.81197%%; /* Same as span8 */
            }

            .rp-sidebar {
                display: block;
                width: 31.62393%; /* Same as span4 */
            }

        }
    }


    /* ---------- RP Columns 1-2 type-1 ---------- */

    .rp-columns-1-2-type-1 {}

    .rp-columns-1-2-type-1 .rp-main-layout-wrap {
        float: none;
        width: 100%;
    }

    .rp-columns-1-2-type-1 div.rp-sidebar {
        display: none;
    }

    .rp-admin.controls-visible .rp-columns-1-2-type-1 .rp-main-layout-wrap {
        float: left;
        width: 69.9%;
    }

    .rp-admin.controls-visible .rp-columns-1-2-type-1 div.rp-sidebar {
        display: block;
        width: 29.9%;
    }


    /* ---------- RP Columns VAP start page ---------- */

    .signed-out .rp-columns-vap-start-page #column-2 {
        display: none;
    }

    .signed-out .rp-columns-vap-start-page #column-3 {
        margin-left: 0;
    }

    .signed-out .rp-columns-vap-start-page #column-3,
    .signed-out .rp-columns-vap-start-page #column-4 {
        width: 48.61795%;
    }

}