##
## Null
##

#set($null = $some-never-used-variable)

#set ($css_class = "${css_class} dockbar-split")

##
## Theme settings
##

#set($show_breadcrumbs = false)
#set($use_rp_navigation_portlet = false)

#if ($theme.getSetting("show-breadcrumbs") == "true" || $theme.getSetting("show-breadcrumbs") == true)
	#set($show_breadcrumbs = true)
#end

#if($show_breadcrumbs)
	#set($css_class = $css_class + " has-breadcrumbs")
#end

#if ($theme.getSetting("use-rp-nav-portlet") == "true" || $theme.getSetting("use-rp-nav-portlet") == true)
	#set($use_rp_navigation_portlet = true)
#end

#set($show_notifications_bar = false)
#if ($theme.getSetting("show-notifications-bar") == "true" || $theme.getSetting("show-notifications-bar") == true)
    #set($show_notifications_bar = true)
#end

#set($show_my_sites = false)
#if ($theme.getSetting("show-my-sites") == "true" || $theme.getSetting("show-my-sites") == true)
    #set($show_my_sites = true)
    #set ($css_class = "${css_class} show-my-sites")
#end

#set($show_tyck_till = true)
#if ($theme.getSetting("show-tyck-till") == "false" || $theme.getSetting("show-tyck-till") == false)
    #set($show_tyck_till = false)
#end



##
## Services
##

##
## RP Navigation Portlet
##

#set ($rp_navigation_portlet_id = "rpnavigationportlet_WAR_rpnavigationportlet")
#set ($rp_navigation_portlet_id = "aggregatednavigation_WAR_navigationportlet" )

##
## RP Breadcrumbs Portlet
##
#set ($use_rp_breadcrumbs_portlet = true)
#set ($rp_breadcrumbs_portlet_id = "aggregatedbreadcrumbs_WAR_navigationportlet" )

##
## Piwik Tracking Portlet
##

#set ($piwik_tracking_portlet_id = "piwiktracking_WAR_piwiktrackingportlet")

##
## Dockbar
##

#set($showDockbar = 
	$permissionChecker.isOmniadmin() ||
	$permissionChecker.isCompanyAdmin($company_id) ||
	$permissionChecker.isCommunityAdmin($group_id) ||
	$permissionChecker.isCommunityOwner($group_id)
)
##set($showDockbar = true)

##
## Phrases
##

#set ($region_portal_name="Regionportalen")
#set ($breadcrumbs_label="Du &auml;r h&auml;r")

##
## Top navigation
##

#set($topnavSettingsShowText = "Visa meny f&ouml;r inst&auml;llningar")
#set($topnavSettingsHideText = "G&ouml;m meny f&ouml;r inst&auml;llningar")
#set($topnavQuickAccessText = "Snabbnavigering")

##
## Tyck till
##

#set($tycktillPortalURL = "#tyck-till")
#set($tycktillDialogURL = "http://tycktill.vgregion.se/tyck-till/tycktill/KontaktaOss?formName=portalen&breadcrumb=portalen-tycktill")

##
## Quick Access Navigation
##

#set($quickAccessNavTitle = "Snabbnavigering")
#set($quickAccessNavFilterLabel = "Filter")
#set($quickAccessNavHelpText = "Skriv in namnet p&aring; det system du letar efter s&aring; sorteras listan efter detta.")

##
## Notification portlet
##

#set($show_notifications_portlet = $is_signed_in && $show_notifications_bar )

#set ($notifications_portlet_prod_id = "notifications_WAR_notificationsrpportlet")

#set ($notifications_portlet_id = $notifications_portlet_prod_id)

##
## Login Link Portlet
##

#set ($loginlink_portlet_id = "loginlink_WAR_navigationportlet")


##
## RP Admin
##

#set($css_rp_admin = "")

#set($is_rp_admin = $permissionChecker.isOmniadmin())
#if($is_rp_admin)
	#set($css_rp_admin = "rp-admin")
#end

##
## RP Admin
##
#set($show_sign_in_link = true)

##
## Theme Javascript
##

#set($js_full_path = $full_templates_path + "/../js")

## If set to true, theme_js_scripts are loaded inline in page (i.e. directly inside a script tag)
## which reduces the number of http requests
#set($theme_js_inline = false)

## Original list
#*
#set($theme_js_scripts = [
    "fixes/ios-orientationchange-fix.js",
	"modules/rp-action-confirmation-plugin.js",
	"modules/rp-footer-plugin.js",
	"modules/rp-knowledgebase.js",
    "modules/rp-tyck-till.js",
    "modules/rp-quick-access-nav.js",
    "modules/rp-system-help.js",
    "modules/rp-navigation-button.js",
    "modules/rp-news-carousel.js",
	"modules/rp-iframe-link-plugin.js",
	"modules/rp-placeholder-plugin.js",
    "modules/rp-theme-2.js",
    "theme-main.js"
])
*#

#set($theme_js_scripts = [
    "fixes/ios-orientationchange-fix.js",
    "modules/rp-action-confirmation-plugin.js",
    "modules/rp-asset-publisher.js",
    "modules/rp-tyck-till.js",
    "modules/rp-quick-access-nav.js",
    "modules/rp-system-help.js",
    "modules/rp-navigation-button.js",
    "modules/rp-news-carousel.js",
	"modules/rp-placeholder-plugin.js",
    "modules/rp-theme-2.js",
    "theme-main.js"
])


##
## Portal type
##

#set ($portalURL = $portalUtil.getPortalURL($themeDisplay))

#set ($url_server_local = "localhost")
#set ($url_server_test = "portalen-test")
#set ($url_server_stage = "portalen-stage")

#set ($is_server_local = $stringUtil.contains($portalURL, $url_server_local, ""))
#set ($is_server_test = $stringUtil.contains($portalURL, $url_server_test, ""))
#set ($is_server_stage = $stringUtil.contains($portalURL, $url_server_stage, ""))

##
## Piwik
##
#set($piwikActive = false)
#if ($propsUtil.get("web.tracking.piwik.active") == "true")
	#set ($piwik_active = true)
#elseif ($propsUtil.get("web.tracking.piwik.active") == true)
	#set ($piwik_active = true)
#end


#set ($piwik_base_url = "piwik.vgregion.se/" )
#set ($protocol_url_prefix = "http://")
#if($themeDisplay.isSecure())
	#set ($protocol_url_prefix = "https://")	
#end	
#set ($piwik_url = $protocol_url_prefix + $piwik_base_url)
#set ($piwik_site_id = 77 )
