<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

	$theme.include($top_head_include)
</head>

<body class="$css_class $css_rp_admin">

#if ( "$theme.getSetting('global-info-header')" != "")
	<div class="global-info-header">$theme.getSetting('global-info-header')</div>
#end

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)

<div class="container-fluid" id="wrapper">

	<header id="banner" role="banner">
		<div id="heading" class="clearfix">
			<h1 class="site-title">
				<a class="$logo_css_class $theme.getSetting('additional-logo-class')" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
					<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
				</a>

				#if ($show_site_name)
					<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
						$site_name
					</span>
				#end
			</h1>

			<h2 class="page-title">
				<span>$the_title</span>
			</h2>


                <div class="top-wrap">
                    <div class="dockbar-wrap">
                        #dockbar()
                    </div>
					#if ( "$theme.getSetting('show-top-navigation-wrap')" == "true")
                        <div class="top-navigation-wrap">
							#if ($is_signed_in)
								#parse ("$full_templates_path/top_navigation.vm")
							#end
                        </div>
					#end
                </div>


		</div>

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

    #if ($selectable)
        <div id="toolsSidebar" class="tools-sidebar">
            #if($show_notifications_portlet)
                #parse ("$full_templates_path/notifications.vm")
            #end

            #if($is_signed_in && $show_tyck_till)
                #parse ("$full_templates_path/tyck_till_content.vm")
            #end

        </div>
    #end

	<div id="content">

		#if($show_breadcrumbs)
			#parse ("$full_templates_path/breadcrumbs.vm")
		#end

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

</div>

<footer id="footer" role="contentinfo">
	#parse ("$full_templates_path/footer.vm")
</footer>

$theme.include($body_bottom_include)

#parse ("$full_templates_path/theme_js_bottom.vm")

$theme.include($bottom_include)

#parse ("$full_templates_path/piwik.vm")

</body>

</html>