<div class="quick-access-nav-list-wrap helper-hidden">
	<div class="quick-access-nav-hd clearfix">
		<h3>$quickAccessNavTitle</h3>
		<div class="filter-wrap">
			<label for="quickAccessFilterInput">$quickAccessNavFilterLabel</label>
			<input type="text" name="quickAccessFilterInput" id="quickAccessFilterInput" value="" class="" />
			<span class="help-text">$quickAccessNavHelpText</span>
		</div>
		<a href="#close" class="close">St&auml;ng</a>
	</div>
</div>
