body {
  background: #dfebf5 url(../images/bg/bg-main.png) 0 0 repeat;
  color: #333;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: $base-font-weight;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
	-webkit-font-smoothing: antialiased;
}

.ie6 body {
    height: 100%;
}
