h1, h2, h3 {
  font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
  font-weight: normal;
  margin: 1em 0 0.4em 0;
}

h1 {
  color: #005095;
  font-size: 2.5em;
  margin: 0.4em 0 0.4em 0;
}

h2 {
  color: #444;
  font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
    color: #666;
}

h4 {
  font-size: 14px;
}
