input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea, .uneditable-input {
  border: 1px solid #DDD;
  color: #555;
  font-weight: 200;
  margin-bottom: 7px;

  &:focus {
    border-color: rgba(0, 172, 255, 0.8);
  }
}

input[type="submit"] {
  margin-bottom: 11px;
  margin-top: 6px;
}

input[type="text"].search-query {
  margin-top: 0;
}
