.link-button,
.link-button:visited {

  background: #ccc;
  border: 1px solid #777;
  color: #333;
  display: inline-block;
  padding: 8px;
  text-decoration: none;

  @include border-radius(4px);

  &:hover {
    border-color: #000;
    color: #333;
  }


}
