<<<<<<< HEAD
a,
a:visited {
  color: #2f72a9;
  font-weight: 200;
  text-decoration: underline;

  &:hover {
    color: #2f72a9;
    text-decoration: none;
  }

  [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
  }

}

.dockbar a,
.dockbar a:visited,
.nav-pills a,
.nav-pills a:visited {
    text-decoration: none;
}
=======
>>>>>>> origin/master
