a,
a:visited {
  color: $blandbarhet-blue;
  font-weight: 200;
  text-decoration: underline;

  &:hover {
    color: $blandbarhet-blue;
    text-decoration: none;
  }

  [class^="icon-"], [class*=" icon-"] {
    display: inline-block;
  }

  &.hover-link {
    text-decoration: none;
  }

  &.header-link {
    color: $white;
  }

  &.plain {
    color: $blandbarhet-mineshaftlight;
    text-decoration: underline;

    &:hover {
      color: $blandbarhet-black;
      text-decoration: none;
    }
  }

}



.dockbar a,
.dockbar a:visited,
.nav-pills a,
.nav-pills a:visited {
    text-decoration: none;
}
