/* Styling related to Primefaces menuButton component */

.ui-menu-list {

  .ui-menuitem {

    a.ui-commandlink {
      display: block;
      text-decoration: none;
      font-weight: inherit;
      color: inherit;
    }
  }
}