.table {
  font-size: 15px;
  overflow: hidden;

  td {
    background-color: #F9F9F9;
  }

  thead th {
    background-color: #F0EFEF;
    font-size: 15px;
    font-weight: normal;
  }

  .table-sort-liner a {
    color: #555;
    font-weight: normal;
    text-decoration: underline;
  }
}

.table-striped tbody > tr:nth-child(odd) {
  > td, > th {
    background-color: #FFF;
  }
}

.table-hover tbody tr:hover {
  > td, > th {
    background-color: #EDF8FD;
  }
}
