.nav-header {
  background-color: #E5E5E5;
  border: solid #DDD;
  border-width: 1px 0;
}

.accordion .accordion-group {
  .accordion-heading .accordion-toggle {
    padding-left: 15px;
  }

  .toggler-content-expanded {
    border-width: 1px 0 0 0;
  }
}

%toggler-header-icon-base {
  content: $chevron-sign-right;

  @include icon-FontAwesome();

  display: inline-block;
  margin-right: 5px;
}

%toggler-header-icon-expanded {
  content: $chevron-sign-down;
}

.accordion-group {
  border-width: 0;

  .accordion-heading {
    background: none no-repeat 0 50%;
    overflow: hidden;

    .accordion-toggle {
      &, &:hover {
        text-decoration: none;
      }
    }

    &.toggler-header-collapsed, &.toggler-header-expanded {
      background-image: none;

      .accordion-toggle:before {
        @extend %toggler-header-icon-base;

        @include opacity(0.5);
      }
    }

    &.toggler-header-collapsed {
      position: relative;

      .accordion-toggle:after {
        content: '';
        margin-left: 10px;
        position: absolute;
        top: 50%;
        width: 100%;
      }
    }

    &.toggler-header-expanded .accordion-toggle:before {
      @extend %toggler-header-icon-expanded;
    }
  }

  .toggler-content-expanded {
    border: 1px solid $borderColor;

    .accordion-inner {
      border-width: 0;
    }
  }

  &.lfr-panel-extended {
    border-width: 1px;

    .accordion-heading {
      background: #F2F2F2;
      overflow: hidden;
      position: static;

      .accordion-toggle {
        color: #999;
        padding-left: 8px;

        &:after, &:before {
          float: right;
          font-size: 22px;
        }
      }
    }
  }
}

.accordion-heading .accordion-toggle {
  padding-left: 0;
}

.toggler-content-collapsed {
  display: none;
}

body.yui3-skin-sam .yui3-widget-mask {
  background-color: #FFF;
}

&.ie {
  .dockbar, #navigation {
    .navbar-inner {
      filter: none;
    }
  }
}

&.ie6, &.ie7 {
  .accordion-group .accordion-heading {
    background: none no-repeat 0 50%;

    &.toggler-header-collapsed {
      background-image: url(../images/arrows/05_right.png);
    }

    &.toggler-header-expanded {
      background-image: url(../images/arrows/05_down.png);
    }
  }
}

/* ---------- Side accordion navigations ---------- */

.add-content-menu, .lfr-edit-layout-panel, .panel-page-menu .portlet-borderless-container {
  .accordion {
    background: #FFF;
    border: 1px solid #D3D3D3;
    border-top-width: 0;

    .accordion-group {
      border-width: 0;
      margin-bottom: 0;

      .accordion-heading {
        cursor: pointer;

        .accordion-toggle {
          font-size: 16px;
          font-weight: 300;
          padding: 0;
        }
      }

      .accordion-inner {
        background: #FCFCFC;
        border-width: 0;
        padding: 6px 0 15px;
      }

      .toggler-header {
        background: #F2F2F2;
        border: solid #D3D3D3;
        border-width: 1px 0;
        padding: 6px 10px;

        @include user-select(none);

        .accordion-toggle {
          background: #F2F2F2 url(../images/arrows/13_left.png) no-repeat 100% -20px;
        }
      }

      .toggler-header-collapsed {
        border-bottom-width: 0;

        .accordion-toggle {
          background-position: 100% 0;

          &:before {
            display: none;
          }
        }
      }

      .toggler-header-expanded .accordion-toggle:before {
        display: none;
      }
    }

    .toggler-content-expanded {
      border-width: 0;
    }
  }
}

.lfr-add-panel {
  .add-content-menu {
    .lfr-content-item {
      color: #009AE5;

      &:focus, &:hover {
        background-color: #E5F5FC;
      }

      &.lfr-portlet-used {
        color: #BBB;
      }
    }
  }

  .lfr-page-template .lfr-page-template-title {
    &.toggler-header-collapsed, &.toggler-header-expanded {
      &:before {
        @extend %toggler-header-icon-base;

        color: #8D8D8D;
        position: absolute;
        right: 5px;
        top: 0;
      }
    }

    &.toggler-header-expanded {
      &:before {
        @extend %toggler-header-icon-expanded;
      }
    }

    &.active {
      &:before {
        color: #FFF;
      }
    }
  }
}

.lfr-add-panel, .lfr-device-preview-panel, .lfr-edit-layout-panel {
  &.lfr-admin-panel h1 {
    color: #009AE5;
    font-size: 26px;
    font-weight: normal;
    line-height: 26px;
  }
}
