.compatibility-container {

  fieldset {

    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 6px 0 16px 0;
    padding: 8px 12px;
    width: auto;

    legend {
      border: 0;
      font-size: 1em;
      line-height: inherit;
      margin: 0;
      padding: 0 4px;
      width: auto;
    }

  }

  .icon-exclamation {
    border: 3px solid;
    border-radius: 50%;
    color: red;
    display: inline-block;
    font-size: 1.8em;
    height: 24px;
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 4px;
    text-align: center;
    width: 24px;
  }

}
