.navbar .nav > li > a {
  &:focus, &:hover {
    color: #009AE5;
  }
}

.dockbar-split {
  .dockbar {
    .nav {
      li.dropdown {
        > .dropdown-toggle {
          @extend %dockbar-caret;
        }

        &.open, &.active, &.open.active {
          > .dropdown-toggle {
            background-color: transparent;
            color: #FFF;

            @extend %dockbar-caret;
          }
        }
      }
    }

    .navbar-inner {
      background: none;
      visibility: hidden;
    }
  }

  &.dockbar-ready .dockbar .navbar-inner {
    visibility: visible;
  }
}

.dockbar {
  &.navbar .navbar-inner {
    min-height: 40px;
  }

  .navbar-inner {
    background: #333;

    .container .btn-navbar {
      color: #3a84c1;

      .user-avatar-image {
        position: relative;
        top: 2px;
        width: 28px;
      }
    }
  }

  .nav {
    > li {
      > a {
        color: #FFF;
        line-height: 31px;

        &:focus, &:hover {
          color: #FFF;
        }

        [class^="icon-"], [class*=" icon-"] {
          margin-top: 3px;
        }
      }

      &.active > a {
        color: #FFF;

        &, &:hover, &:focus {
          background: #0066B3;
        }
      }
    }

    %dockbar-caret {
      &, &:hover {
        .caret {
          border-bottom-color: #FFF;
          border-top-color: #FFF;
        }
      }
    }

    li.dropdown {
      > .dropdown-toggle {
        @extend %dockbar-caret;
      }

      &.open, &.active, &.open.active {
        > .dropdown-toggle {
          background-color: #3EA9DB;
          color: #FFF;

          @extend %dockbar-caret;
        }
      }

      .dropdown-menu, .site-administration-menu {
        background: #009AE5;
        border-width: 0;
        left: 0;
        margin: 0;
        right: auto;

        > li > a {
          color: #FFF;
          font-size: 0.9em;
          font-weight: 300;

          &:focus, &:hover {
            background: #2FA4F5;
            @include filter-gradient(#2FA4F5, #2FA4F5, vertical);
          }

          [class^="icon-"], [class*=" icon-"] {
            margin-right: 3px;
          }

          .icon-spacer {
            margin-right: 17px;
          }
        }

        li.active > a {
          background: #3B6DCC;
        }
      }

      .dropdown-menu {
        max-height: 300px;
        overflow-x: hidden;
        overflow-y: auto;

        &:after, &:before {
          border-width: 0;
        }
      }
    }

    li.dropdown.user-avatar {
      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }
  }

  .nav-account-controls li ul li a:hover i {
    background-image: none;
    text-decoration: none;
  }

  .divider-vertical {
    border-left-color: #222;
    border-right-color: #555;
    display: none;
  }
}

.app-view-taglib .lfr-header-row-content .select-all-entries {
  left: 7px;
  top: 14px;
}

.navbar {
  .btn-group, .navbar-search {
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .btn-navbar {
    padding: 10px;
  }

  .container .btn-navbar {
    background: transparent;
    border-color: #DDD;

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
      background-color: #DDD;
    }

    .icon-bar {
      background: #656565;
    }
  }

  .icon-caret-down {
    background: #27A7EB;
    background: rgba(255, 255, 255, 0.2);
    font-size: 14px;
    height: auto;
    margin-left: 5px;
    padding: 1px 4px;
    width: auto;
  }

  .nav > li.open > a {
    background-color: #FFF;
    color: #555;
    text-decoration: none;
  }

  .navbar-inner {
    min-height: 47px;
  }
}
