.field-wrapper .btn {
  margin-top: 0;
}

.control-group {
  margin-bottom: 30px;
}

.input-append {
  padding-right: 12px;
}

/* ---------- Form navigator ---------- */
// Migrated from custom_common 2015-09-23 not sure if this is used.

@include respond-to(phone, tablet) {
  .taglib-form-navigator {
    .form-navigator-content {
      clear: both;
      float: none;
      width: 100%;
    }

    .form-navigator.nav.well {
      border-width: 1px 0 0;

      @include box-shadow(none);

      clear: both;
      float: none;
      margin: 1em 0 0;
      padding: 1em 0.5em;
      width: 100%;

      > li {
        display: inline-block;

        > a {
          margin: 0;
          padding: 0.1em 1em;
        }
      }
    }

    .nobr {
      white-space: normal;
    }
  }
}
