.miscibility-portlet-wrapper {
  font-size: 1.2em;

  .border-line {
    border-bottom: 1px solid #888;
    margin: 10px 0 20px 0;
  }

  section {
      margin-bottom: 16px;
  }

  table {

    thead {
      th {
        background-color: #0369A8;
        border: 1px solid #aaaaaa;
        color: #ffffff;
        padding: 3px 20px 3px 0;
        vertical-align: top;
      }
    }

    tbody {
      td {
        padding: 3px 20px 3px 0;
        vertical-align: top;

        .cell-content {
            cursor: pointer;
            max-height: 98px;
            overflow: hidden;
            position: relative;

            &:not(.expanded):after {
              background: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
              height: 32px;
              position: absolute;
              bottom: 0;
              width: 100%;
              content: '';
              left: 0;
            }

            &.expanded {
              max-height: none;
            }

        }

      }
    }

  }

  .label {
      background: none;
      color: #333;
      font-size: 1em;
      padding-left: 0;
      text-shadow: 1px 1px rgba(100, 100, 100, 0.2);
  }

  fieldset {

    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 6px 0 16px 0;
    padding: 8px 12px;
    width: auto;

    legend {
      border: 0;
      font-size: 1em;
      line-height: inherit;
      margin: 0;
      padding: 0 4px;
      width: auto;
    }

    .label {
        padding-left: 4px;
    }
  }

  .substance-autocomplete {
      width: 70%;

      input {
          margin-bottom: 0;
          width: 95%;
      }
  }

  .clear-button {
      height: 20px;
      margin-left: 1.2em;
  }

  .small-heading {
      margin-bottom: 4px;
  }

  .superscript {
      position: relative;
      top: -0.4em;
      font-size: 90%;
  }

  .box-section {
      background: #fff;
      border: 1px solid #aaa;
      border-radius: 3px;
      float: left;
      margin-bottom: 15px;
      margin-top: 15px;
      min-width: 200px;
  }

  .footnote-text {
      font-weight: bold;
      padding-top: 4px;
  }

  // Seach Section
  .search-section {
    box-sizing: border-box;
    width: 40%;

    margin-right: 5%;
    width: 55%;
  }

  // Explanation Section
  .explanation-section {
    box-sizing: border-box;
    width: 40%;

    .explanation-section-body {
      .explanation-row {
          margin: 16px 0;
          position: relative;
          vertical-align: middle;

          &:first-child {
              margin-top: 0;
          }

          &:last-child {
              margin-bottom: 0;
          }

          .information-code {
              position: absolute;
              top: 0;
              top: calc(50% - 13px);
          }

          .explanation-text {
              display: inline-block;
              padding-left: 34px;
          }

      }

      .information-code {
          display: inline-block;
          float: none;
          font-size: 1.0em;
          height: 16px;
          line-height: 16px;
          padding: 3px;
      }

    }

  }

  // Compatibility Pair List
  .compatibility-pair-list {

    width: 100%;

    .compatibility-header {
      .information-code {
          display: inline-block;
          font-size: 1.25em;
          float: none;
          height: 21px;
          line-height: 22px;
          margin: 0 20px;
          padding: 3px;
          width: 20px;
      }
    }

    .compatibility-container {
        width: 100%;
    }

  }

  .infusion-basis {
      margin-bottom: 10px;
  }

  .concentration-basis {
      margin-top: 8px;
  }

  // Reference Section
  .reference-section {
      border-bottom: 1px solid #aaa;
      margin: 5px 0;
      padding-bottom: 5px;
      text-align: left;

      td {
        line-height: initial;
      }
  }

  // Header Toggle Trigger
  .header-toggle-trigger {
      cursor: pointer;

      .toggle-symbol {
          position: absolute;
          right: 10px;
          -webkit-transition: all 150ms;
          transition: all 150ms;

          &.rotated {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }

          &.expanded {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }

      }

      &:hover {
        .toggle-symbol {
          -webkit-transform: scale(1,1.3);
          -ms-transform: scale(1,1.3);
          transform: scale(1,1.3);

          &.rotated,
          &.expanded {
            -webkit-transform: rotate(90deg) scale(1,1.3);
            -ms-transform: rotate(90deg) scale(1,1.3);
            transform: rotate(90deg) scale(1,1.3);
          }

        }
      }

  }

}

&.ie8 {
  .miscibility-portlet-wrapper {
    .header-toggle-trigger {
      .toggle-symbol {

        &.ie8-fix,
        &.ie8-fix.expanded {
          display: inline;
        }

        &.expanded {
          display: none;
        }

        &.ie8-fix {
          display: none;
        }

      }
    }
  }
}
