.ui-dialog {
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
  font-size: 1em !important;
  width: 300px;

  .ui-dialog-titlebar {
      background: #03944E;
      color: #ffffff;
      text-shadow: none;
      font-weight: normal;
      font-size: 1.1em;
  }

  .ui-dialog-titlebar-close {
    background: transparent url(../images/icons/close-icon.png) 0 0 no-repeat !important;
    cursor: pointer;
    float: right;
    height: 24px;
    margin: 0px;
    opacity: 0.7;
    padding: 0px;
    top: 0px;
    width: 24px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;

    &.ui-state-hover {
        box-shadow: none !important;
        border: none !important;
    }

    &:hover {
      opacity: 1 !important;
    }

    .ui-icon-closethick {
        background-image: none !important;
    }

  }

  .ui-dialog-content {
    background-color: #FFF;
    max-height: 80vh !important;
    text-align: left;
  }

  .ui-dialog-buttonpane {
    background: #eef5fa;
    background-image: none;
    border-width: 1px 0 0 0;
    border-top: 1px solid #c4ced5;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 1em 0.5em 0.4em;
    text-align: center;
    width: 300px;
  }

}

&.ie8 {
  .ui-dialog {
    overflow: initial;
    max-height: 600px;

    .ui-dialog-titlebar {
      width: 580px;
    }

    .ui-dialog-content {
      max-height: 580px;
      width: 610px;
    }
  }

  .ui-dialog-content {
    width: 90vw;
  }
}
