.ui-autocomplete-panel {

  .ui-autocomplete-list {

    padding: 10px;

    .ui-autocomplete-list-item {
      padding: 5px 10px;

      &.ui-state-highlight {
        background: #006fa7;
        color: #fff;
        @include text-shadow(none);
      }

    }

  }

}
