.vgr-boxed-content {
  margin: 0 0 15px 0;
}

.vgr-boxed-content > .hd {
  background: #2f6ea1 url(../images/portlet/portlet-hd-bg-2.png) top left repeat-x;
  /*behavior: url(/vgr-alfa-theme/htc/css3pie.htc);*/
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  position: relative;
  border: 1px solid #245780;
  -moz-box-shadow: 0px 1px 4px 0px #cccccc;
  -webkit-box-shadow: 0px 1px 4px 0px #cccccc;
  box-shadow: 0px 1px 4px 0px #cccccc;
  margin: 0;

  color: #fff;
  font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: normal;
  padding: 7px 10px;

}

.vgr-boxed-content > .bd {
  background: #fff;
  /*behavior: url(/vgr-alfa-theme/htc/css3pie.htc);*/
  border: 1px solid #cad5de;
  border-width: 0 1px 1px 1px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius:  0 0 6px 6px;
  -moz-box-shadow: 0px 1px 4px 0px #cccccc;
  -webkit-box-shadow: 0px 1px 4px 0px #cccccc;
  box-shadow: 0px 1px 4px 0px #cccccc;
  margin: 0;
  padding: 12px;
  position: relative;
}
