.vgr-tabs {
}

.vgr-tabs ul.aui-tabview-list {
  background: #2f6ea1 url(../images/portlet/portlet-hd-bg-2.png) top left repeat-x;
  border: 1px solid #245780;
  border-bottom: 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -moz-box-shadow: 0px 1px 4px 0px #cccccc;
  -webkit-box-shadow: 0px 1px 4px 0px #cccccc;
  box-shadow: 0px 1px 4px 0px #cccccc;
  /*behavior: url(/vgr-alfa-theme/htc/css3pie.htc);*/
  margin: 0;
  padding: 0;
  padding: 1px 2px 0 2px;
  position: relative;
}

.vgr-tabs .aui-tab {
  background: transparent;
  border: none;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-radius: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
}

.vgr-tabs .aui-tab-content {
  background: url(../images/navigation/navigation-separator.png) top right repeat-y;
  border: none;
  padding: 0 2px 0 0;
  margin: 0;
}

.vgr-tabs .aui-tab a,
.vgr-tabs .aui-tab a:link {
  background: transparent;
  border: 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  /*behavior: url(/vgr-alfa-theme/htc/css3pie.htc);*/
  color: #fff;
  display: block;
  font-family: Ubuntu, Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
      overflow: hidden;
  padding: 7px 10px;
  position: relative;
  text-decoration: none;
  text-shadow: none;
}

.vgr-tabs .aui-tab a:hover {
  background: #3a84c1 url(../images/navigation/navigation-bg-hover.png) top left repeat-x;
  color: #fff;
}

.vgr-tabs .tab-selected:after {
  border: none;
  bottom: 0;
  content: '';
  left: 0;
  margin-left: 0;
  z-index: 0;
}

.vgr-tabs .tab-selected a,
.vgr-tabs .tab-selected a:link,
.vgr-tabs .tab-selected a:hover {
  background: #548332 url(../images/navigation/navigation-bg-active.png) top left repeat-x;
  color: #fff;
}

.vgr-tabs .tab-selected a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40%;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #548332 transparent;
  display: block;
  width: 0;
}

/* .vgr-tabs-content > .aui-tabview-content */
.vgr-tabs .vgr-tabs-content-wrap {
  background: #fff;
  border: 0;
  border-top: none;

  border: 1px solid #cad5de;

  border-width: 0 1px 1px 1px;

  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;

  -moz-box-shadow: 0px 1px 4px 0px #cccccc;
  -webkit-box-shadow: 0px 1px 4px 0px #cccccc;
  box-shadow: 0px 1px 4px 0px #cccccc;

  /*behavior: url(/vgr-alfa-theme/htc/css3pie.htc);*/

  padding: 10px;

  position: relative;
}
