.aui {





	/* ---------- Extras ---------- */


	.breadcrumb > li {
		@include text-shadow(none);
	}

	.nav-header {
		background-color: #FFF;

		@include background-image(linear-gradient(#FFF 0%, #F2F2F2 100%));
	}

	.portlet-options {
		&, &.open {
			.dropdown-toggle {
				@include box-shadow(none);
			}
		}
	}

	.table {
		@include border-radius(5px);
	}

	input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="password"], input[type="text"], input[type="time"], input[type="week"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], textarea, .uneditable-input {
		@include border-radius(0);
		@include box-shadow(none);

		&:focus {
			@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
		}
	}

	input.search-query {
		border-radius: 15px;
	}

	.tagselector-focused .tagselector-content .textboxlistentry-holder {
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
	}

	.dockbar {
		.nav {
			> li {
				> a {
					@include text-shadow(none);
				}
			}

			li.dropdown {
				.dropdown-menu {
					@include border-radius(0);
				}
			}
		}

		.container .btn, .nav li.dropdown.user-avatar {
			.user-avatar-image {
				@include border-radius(50%);
				@include box-shadow(0 0 0 2px #5594E0);
			}
		}
	}

	.navbar {
		.container .btn {
			&, .icon-bar {
				@include box-shadow(0 1px 0 #FFF);
			}
		}

		.icon-caret-down {
			@include border-radius(50%);
		}

		.nav {
			> li.open > a {
				@include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125));
			}
		}
	}

	.dockbar .container .btn {
		@include box-shadow(none);
	}

	body.yui3-skin-sam .yui3-widget-mask {
		@include opacity(0.8);
	}
}

#content > .alert-info {
	display: none;
}
