#footer {
  background: #eef4fa url(../images/bg/footer-bg.png) top left repeat-x;
  bottom: 0;
  height: 91px; /* 91px is height of [#footer .logo] plus padding of [.footer-inner] */
  padding: 0;
  position: absolute;
  width: 100%;
}

.footer-inner {
  background: transparent url(../images/bg/footer-bg-shadow.png) top center no-repeat;
  color: #005095;
  padding: 20px 0 0 0;
}

.footer-content {
}

#footer .logo {
    background: url(../images/logo/vgr-logo-large-transparent.png) no-repeat scroll 0 0 transparent;
    display: block;
  font-size: 0;
    height: 51px;
    margin: 0 auto;
    text-align: center;
    width: 252px;
}

#footer .logo span {
    font-size: 0;
    text-indent: -9999em;
}

.server-info {
  color: #aaa;
  padding: 2px 10px;
  text-align: right;
}
